body{
  padding: 0px;
  margin: 0px;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;

};
.container{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

}
#left, #center, #right {display: inline-block; *display: inline; zoom:1; vertical-align: top;font-size: 12px;};
#left {width: 25%; background: blue;}
#center {width: 50%;font-size: 20px;text-align: center;margin:auto;}
#center ul>li{
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline;

}

#right {width: 25%; background: ;}
#right img {
height: 100px;
}
